<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <akka>
    <hocon>
      <![CDATA[
          akka {
            actor{
              deployment{
                /page_navigator{
                  #causes actor to run on the UI thread
                  dispatcher = akka.actor.synchronized-dispatcher
                }
                /initializer{
                  #causes actor to run on the UI thread
                  dispatcher = akka.actor.synchronized-dispatcher
                }
                /auth_command{
                  #causes actor to run on the UI thread
                  dispatcher = akka.actor.synchronized-dispatcher
                }
              }
            }
          }
      ]]>
    </hocon>
  </akka>
</configuration>